body {
  font-family: "Segoe UI", sans-serif;

  background-color: #fefefe;
  color: #222;
}

header {
  background-color: #222;
  color: white;
  padding: 32px;
  text-align: center;
}

main {
  padding: 32px;
  margin: auto;
}

h3,
h2 {
  color: #444;
  margin-top: 32px;
}
header {
  background: #222;
  color: #fff;
  padding: 60px 0 0 0; /* Top padding only for title */
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 32px;
  background: #444;
  padding: 15px;
  margin-top: 16px; /* Optional: space between title and nav */
}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffd700;
}

footer {
  background-color: #222;
  color: #f1f1f1;
  padding: 20px 0;
  text-align: center;
  font-size: 0.95rem;
  margin-top: 40px;
}
footer a {
  color: #ff91a4; /* light artistic pink tone */
  text-decoration: none;
  font-weight: bold;
}
